<div class="container py-5" *ngIf="sensor">
 <!-- Title -->
    <div class="title-container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="d-flex pb-5 cursor-pointer">
                <div class="title-text">
                    <div>
                        <span class="mat-display-3">Sensores</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Breadcumb -->
  <div class="d-flex justify-content-end pb-4">
    <div><span class="mat-caption color-primary cursor-pointer" [routerLink]="['/sensors']">Sensors</span></div>
    <div class="px-2">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div><span class="mat-caption">Check for sensor</span></div>
  </div>
  <!-- Ad -->
  <div class="pb-5">
    <mat-card class="p-5">
      <div class="d-flex justify-content-between pb-5">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
      <div class="px-4">
        <div class="d-flex justify-content-between">
            <div style="width: 100%;">
                <div>
                <span class="mat-title"><strong>Sensor de {{sensor.tipo}}</strong></span>
                </div>
                <div *ngIf="sensor.tipo == 'temperatura'" class="pb-5">
                <span>Medida: Graus</span>
                </div>
                <div *ngIf="sensor.tipo == 'corrente_eletrica'" class="pb-5">
                    <span>Medida: Ampéres</span>
                </div>
                <div *ngIf="sensor.tipo == 'pressao'" class="pb-5">
                    <span>Medida: Pascal</span>
                </div>
                <div *ngIf="sensor.tipo == 'intensidade_luminosa'" class="pb-5">
                    <span>Medida: Lúmons</span>
                </div>
                <div *ngIf="sensor.tipo == 'intensidade_luminosa'" class="pb-5">
                    <span>Medida: Luméns</span>
                </div>
                <div *ngIf="sensor.tipo == 'aceleracao'" class="pb-5">
                    <span>Medida: m/s²</span>
                </div>
                <div>
                    <span class="mat-title"><strong>Características Gerais:</strong></span>
                </div>
                <table mdbTable>
                    <thead class="black white-text">
                      <tr>
                        <th scope="col">Altura</th>
                        <th scope="col">Largura</th>
                        <th scope="col">Comprimento</th>
                        <th scope="col">Tensão</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ultima medida</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol>
                          <td>{{sensor.altura}}</td >
                          <td>{{sensor.largura}}</td>
                          <td>{{sensor.comprimento}}</td>
                          <td>{{sensor.tensao}}</td>
                          <td>{{sensor.marca}}</td>
                          <td>{{sensor.ultima_medida}}</td>
                          <td>{{sensor.endereco}}</td>
                          <td><mat-icon class="add-house-icon" (click)="dialogEdit()">edit</mat-icon></td>
                          <td><mat-icon class="add-house-icon" (click)="dialogDelete()">clear</mat-icon></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </mat-card>
  </div>
</div>
