table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    margin-top: 2%;
}

.add-house-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: fixed;
    right: 30px;
    bottom: 70px;
    width: 60px;
    height: 60px;
  }
  